.header {
  background-color: rgb(8, 79, 45);
  color: white;
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 100;
}

.header .left-section {
  width: 208px;
}

.header .header-link {
  display: inline-block;
  padding: 6px 9px;
  text-decoration: none;
  color: white;
}

.logo {
  height: 26px;
}

.mobile-logo {
  display: none;
}

@media (max-width: 675px) {
  .logo { display: none; }
  .mobile-logo {
    display: block;
    height: 26px;
  }
}

.middle-section {
  flex: 1;
  display: flex;
  max-width: 800px;
}

.search-bar {
  flex: 1;
  height: 38px;
  padding-left: 15px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.search-button {
  width: 45px;
  border: none;
  background: rgb(186, 255, 190);
  border-radius: 0 5px 5px 0;
}

.search-icon {
  height: 20px;
}

.right-section {
  width: 180px;
  display: flex;
  justify-content: end;
}

.cart-link {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 38px;
}

.cart-quantity {
  position: absolute;
  top: 8px;
  right: 46px;
  width: 26px;
  text-align: center;
  color: rgb(8, 79, 45);
  font-weight: 700;
}
